.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    column-gap: 20px;
}
.search-option {
    flex: 1;
}
.filter-field {
    width: 100%;
}
.content {
    height: 800px;
    overflow: scroll;
}
.faq-container {
    margin: 30px;
    font-size: 18px;
    line-height: 1.5;
}
// .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//     background-color: #FF5F05;
// }
.heading {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 18px;
}
.bold {
    font-weight: 600;
}

table {
    width: 100%;
}

.mat-column-name {
    flex: none;
    width: 50%;
}

.mat-column-salary {
    flex: none;
    width: 50%;
}

.mat-column-expand {
    flex: none;
    width: 0%;
}

tr.employee-detail-row {
    height: 0;
}

tr.employee-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.employee-row:not(.example-expanded-row):active {
    background: #efefef;
}

.employee-row td {
    border-bottom-width: 0;
    padding-right: 10px;
}

.employee-detail {
    overflow: hidden;
    max-height: var(--scroll-height);
    &.expanded {
        transition: max-height .2s ease;
    }
    &.collapsed {
        max-height: 0;
        transition: max-height .2s ease;
    }
}

.position-detail {
    padding-top: 20px;
    padding-bottom: 10px;
}
